---
import RevealLayout from "../layouts/RevealLayout.astro";
// Acá se importan los componentes de diapositiva (slides)
// EJEMPLO: import Slide01_Intro from '../components/slides/Slide01_Intro.astro';
---

<RevealLayout>
  <div class="reveal">
    <div class="slides">
      <!-- Ejemplo de slide inicial. Reemplaza esto con los componentes -->
      <section class="default-slide">
        <h2>Título de la presentación</h2>
        <p>
          <small>Las diapositivas funcionan como componentes Astro</small>
        </p>
      </section>

      <section class="default-slide">
        <h2>Estructura Recomendada</h2>
        <ul>
          <li>
            <code>src/components/slides/</code>
            <small>- Para diapositivas</small>
          </li>
          <li>
            <code>src/components/ui/</code>
            <small>- Para componentes reutilizables</small>
          </li>
          <li>
            <code>src/layouts/RevealLayout.astro</code>
            <small>- La configuración</small>
            base
          </li>
        </ul>
      </section>

            <!-- EJEMPLO: -->
            <!-- <Slide01_Intro /> -->
        </div>
    </div>
</RevealLayout>
